<aside id="sidebar">
    <button type="button" data-type="close" data-target="#sidebar" class="btn-close"></button>
    <partial name="Partials/_Logotype" />
    <partial name="Partials/_NavLinks" />
</aside>